# Geen gevoelige gegevens
.env
install.lock
config/*.php
!config/.gitkeep

# Composer dependencies
/vendor/

# Cache, logs, tijdelijke bestanden
/storage/
.cache/
logs/
*.log

# IDE bestanden
.vscode/
.idea/

# Systeemrommel
.DS_Store
Thumbs.db
